<%= form_with model: @todo, local: true do |f| %>
  <%= f.label :description, "Descripción" %>
  <%= f.text_area :description, class: "form-control" %>
  <%= f.label :completed, "Completado" %>
  <%= f.check_box :completed, class: "checkbox" %>
<br>
  <%= f.submit "Enviar", class: "btn btn-primary" %>
</div>

<% end %>
